"===============================================================================
" Misc Plugins
"===============================================================================
"{{{ tasklist.vim  任务列表插件
let g:tlTokenList = ["FIXME", "TODO", "HACK", "NOTE", "WARN", "MODIFY"]
"}}}

"{{{ vim-bookmarks
let g:bookmark_highlight_lines  = 1 " 高亮显示书签行
"}}}

"{{{ vim-powerline
let g:Powerline_colorscheme='solarized256' " 设置状态栏主题风格
"}}}

"{{{ tagbar
let tagbar_left=1                   " 设置 tagbar 子窗口的位置出现在主编辑区的左边
nnoremap <leader>tb :TagbarToggle<CR> " 设置显示/隐藏标签列表子窗口的快捷键。
let tagbar_width=32                 " 设置标签子窗口的宽度
let g:tagbar_compact=1              " tagbar 子窗口中不显示冗余帮助信息
"}}}

